header {
  position: fixed;
  display: flex;
  background-color: white;
  justify-content: space-between;
  top: 0%;
  right: 0%;
  left: 0%;
  padding: 0 15%;
  z-index: 1;
}
.image-docplanner {
  width: 250px;
}
header ul {
  display: flex;
  justify-content: space-between;
}
header ul li {
  margin: 10px;
  list-style: none;
  color: #00b39b;
}
.Making {
  margin: 1% 15%;
  margin-top: 100px;
  text-align: center;
}
.Making img {
  width: 70px;
}
.Making h4 {
  font-size: 30px;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 200;
}
/* .Making div p {
  color: blue;
  display: inline-block;
  width: 20%;
  margin: 50px;
} */
.making-paraghraphe {
  margin: 0 15%;
  display: flex;
  justify-content: space-between;
}

.making-paraghraphe p {
  text-align: justify;
  width: 45%;
  line-height: 150%;
  color: #00b39b;
}
.differente-categorie {
  display: flex;
  margin: 10px 15%;
  /* padding: 10px; */
  justify-content: space-between;
  height: 300px;
  color: white;
}
.For {
  position: relative;
  padding: 25px;
  width: 25%;
  font-size: 20px;
  border-radius: 30px;
}
#For-clinics {
  background-color: rgb(73, 73, 184);
}
#For-patients {
  background-color: blueviolet;
}
#For-doctors {
  background-color: dodgerblue;
}
.For h4 {
  bottom: 3%;
  position: absolute;
}
.mor {
  margin-bottom: 70px;
}
.link-parteniere {
  display: flex;
  align-content: space-between;
  margin: 0 15%;
  padding: 2px 0px;
  
}
.link-parteniere div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 100px;
  padding: 0px;
  
}
.link-parteniere svg {
  margin: 5px;
  width: 120px;
}

.link-parteniere h3 {
 
margin-top: 90px;
  padding: 10px;
  width: 20%;
  height: 15%;
  font-size: 20px;
}
.information {
  background-color: #e5faf8;
  background-image: url(https://www.docplanner.com/img/logo.png);
background-repeat: no-repeat;
/* background-size:  */
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
  height: 700px;
  border: 2px solid black;
}
.infomation-plus {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}
.countrie {
  color: #00b39b;
  width: 150px;
  padding: 10px;
  height: 280px;
  /* margin: 20px ; */
  background-color: white;
  text-align: center;
  border-radius: 30px;
}
.countrie img{
  margin-top: 50px;
}
.information-titre {
  margin: 75px;
  align-items: center;
  color: black;
  align-items: center;
}
.information-titre h2 {
  font-size: 50px;
}
.information-titre p {
  font-size: 20px;
}

.test{
  transform: translateY(-20px);
}
.country-All{
  display: flex;
  margin: 0 15%;
  flex-direction: column;
  justify-content: center;
}
.image-country{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
 
}
.country-All h2{
  text-align: center;
  font-size: 40px;
  margin: 0px 350px;
  bottom: 50px;
  margin-top: 50px;
  padding: 20px;

}
.country-All p{
  font-size: 20px;
  text-align: center;
  margin: 0px 300px;
  padding: 60px;
}
.office:hover{
  box-shadow: 0 0 16px blue;
}
.office{
  display: flex;
  flex-direction: column;
  width: 28%;
  border: 1px solid blue;
 margin: 10px

}

.office-desc{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 15px;
height: 50px;
margin: 15px 40px;
}
.office-desc button{
  font-size: 10px;
  color: white;
  background-color: blue;
}

.join-us{
  font-size: 20px;
  text-align: center;
  margin: 50px ;
}
.join-us button{
  font-size: 20px;
  font-family:Roboto,Arial,sans-serif;
  color: white;
  background-color: #3d83df;
}
footer {
text-align: center;
}
.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown:hover .dropdown-content{
  display: block;

}